body {
  padding: 0;
  margin: 0;
}
main {
  border: 4px solid #49d88f;
  padding: 20px;
  > div{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    column-gap: 10px;
    h1{
      // flex: 1;
      width: 100%;
    }
    section{
      display: block;
      flex: .5;
      border: 1px solid red;
      background: #fafafa;
    }
    pre{
      display: block;
      flex: .5;
      margin: 0;
      padding: 10px;
      border: 1px solid red;
      background: #fafafa;
    }
  }
}